.AccountOverview {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.account-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.account-overview-container{
  background-color: #ffffff;
  border-radius: 5px;
}