.AccountOverview {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.account-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.account-overview-container{
  background-color: #ffffff;
  border-radius: 5px;
}

.account-container-title{
  width: 50%;
  text-align: left;
}


.account-container-title > p {
  color: #423f40;
  font-size: 3.5vh;
}