.sales-metrics {
  display: flex;
  justify-content: space-around;
}

.metric {
  text-align: left;
  font-size: 1.5vh;
  color: #a5a2a2;;
  margin-right: auto;
  padding-left: 20px;
  width: 100%;
}

.sales-metrics > :first-child{
  border-right: 1px solid;
  border-color: #ededed;
}

.metric > :first-child {
  color: #22ab55;
  font-size: 4vh;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.text-info {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}