.sales-metrics {
  display: flex;
  justify-content: space-around;
}

.metric {
  text-align: left;
  font-size: 24px;
  color: green;
  margin-right: auto;
  padding-left: 20px;
  width: 100%;
}

.sales-metrics > :first-child{
  border-right: 1px solid;
  border-color: #ededed;
}